body {
  background-color: #1c3384;
}

#nav-placeholder {
  height: 0;
  width: 100%;
  margin: 15px 0;
  margin-bottom: 150px;
}

section {
  text-align: center;
  margin: 0 50px;
  justify-content: center;
}
