html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #1c3384;
  background-image: url("../assets/home background/blob1.svg");
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
}

#nav-placeholder {
  height: 0;
  width: 100%;
  margin: 15px 0;
  margin-bottom: 150px;
}

section {
  text-align: center;
  margin: 0 50px;
  justify-content: center;
}

span {
  color: #6e47de;
}

h1,
p {
  color: white;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 85px;
}

p {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100px;
  height: 100px;
}

.info {
  width: 75%;
  margin: auto;
  padding-top: 50px;
}

.download {
  text-align: center;
  clear: none;
  position: relative;
  float: left;
  width: calc(33.33% - 10px);
  margin: 0 5px;
}

.device {
  text-align: center;
  clear: none;
  position: relative;
  float: left;
  width: calc(33.33% - 10px);
  margin: 0 5px;
}

.notification {
  text-align: center;
  clear: none;
  position: relative;
  justify-content: center;
  float: left;
  width: calc(33.33% - 10px);
  margin: 0 5px;
}

.pic {
    clear: both;
    z-index: 10;
}

.blob {
    position: absolute;
    clear: both;
    z-index: -1;
}

.blob1 {
    left: 75px;
    top: -10px;
}

.blob2 {
    left: 125px;
    top: 25px;
}

.blob3 {
    left: 130px;
    top: -25px;
}

.text {
  width: 200px;
  margin: auto;
  padding-top: 20px;
}

.info:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 1200px) {
    .blob1 {
      left: 50px;
      top: -10px;
  }
  
  .blob2 {
      left: 100px;
      top: 25px;
  }
  
  .blob3 {
      left: 100px;
      top: -25px;
  }
}

@media (max-width: 1000px) {
    .blob1 {
      left: 25px;
      top: -10px;
  }
  
  .blob2 {
      left: 75px;
      top: 25px;
  }
  
  .blob3 {
      left: 75px;
      top: -25px;
  }
}

@media (max-width: 768px) {
    section {
      display: flex;
      flex-flow: row wrap;
    }
    .download {
      order: 5;
      width: 100%;
      margin-bottom: 50px;
    }
    .device {
      order: 10;
      width: 100%;
      margin-bottom: 50px;
    }
    .notification {
      order: 10;
      width: 100%;
      margin-bottom: 50px;
    }
    .blob1 {
      left: 160px;
      top: -10px;
  }
  
  .blob2 {
      left: 215px;
      top: 25px;
  }
  
  .blob3 {
      left: 215px;
      top: -25px;
  }
  }

  @media (max-width: 628px) {
    .blob1 {
      left: 75px;
      top: -10px;
  }
  
  .blob2 {
      left: 125px;
      top: 25px;
  }
  
  .blob3 {
      left: 125px;
      top: -25px;
  }
}

  