ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

li {
  float: right;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  float: left;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 30px;
}

li a, input{
  font-family: "Montserrat", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 1em;
  transition: all 0.2s;
}

input {
  background-color: #6E47DE;
  height: 10px;
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #6E47DE;
}

.form {
  background-color: #6E47DE;
  border-radius: 25px;
  text-align: center;
  margin-top: 5px;
padding:1em;
  
}

.form:hover {
  color: black;
}