<link rel="stylesheet" href="../style/nav.css" />
<link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display&display=swap"
      rel="stylesheet"
    />

<nav>
  <div>
    <ul>
      <h2>Project name</h2>
      <div class="btn">
        <li><a class = "form" href="Form.html" class="link">Submit Form</a></li>
      </div>
      <li><a href="Contact.html" class="link">Contact</a></li>
      <li><a href="About.html" class="link">About</a></li>
      <li><a href="index.html" class="link">Home</a></li>
    </ul>
  </div>
</nav>